.bold{
    font-weight: bold;
    color:rgb(0,0,204);
    font-size:19;
}

.content{
    padding: 10px 0;
}

.clearfix{
    zoom:1;
}

.f-r{
    float:right;
}

.sc{
    color:red;
    font-weight:bold;
    font-size:15;
}

.detail{
    font-size:17;
    padding:4px 0;
}

.submit{
    height:100px;
    padding-bottom: 20px;
}

