.home_teacher{
    padding: 50px 0 40px 0;
}

.teacherContainer{
    width:90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right:5%;
}

.teacherContainer h3{
    font-size: 28px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    display: block;  
}

.teacherContainer h3 a{
    color: #24b675;
    font-size: 16px;
    cursor: pointer;
}

.teacherContainer .clearfix{
    margin-top:0px;
    margin-right: -15px;
    margin-left: -15px;
}
/*
.clearfix li {
    width: 25%;
    height: 310px;
    padding: 0 4px 8px;
    float: left;
    cursor: pointer;
}*/
.clearfix li{
    list-style-type:none;
    height: 310px;
    margin-top: 20px;
    padding: 0 11px;
    width:20%;
    position: relative;
    min-height: 1px;
    float:left;
}

.carouselItem {
    background: #003f88;
    height: 100%;
    box-shadow: 0 0 5px 1px #ccc;
}

.carouselItem:hover {
    box-shadow: 0 0 5px 3px #CCC;
}

.carouselItem .img {
    width: 100%;
    height: 195px;
    background: url(./images/bkg.jpg) no-repeat top;
    background-size: cover;
    padding-top: 21px;
    text-align: center;
}

.img_wrap {
    box-shadow: 0 0 7px 1px #ccc;
    width: 113px;
    height: 155px;
    margin: 0 auto;
}

.img_wrap img {
    width: 100%;
    height: 100%;
}

.teaName{
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 10px 6px;
    text-align: center;
}

.teaInformation{
    font-size: 14px;
    display: block;
    padding: 0 10px;
    line-height: 24px;
    height: 24px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}